thead {
    background-color: #000;
    color: #fff;
}

.odd {
    background-color: #CFD8DC;
}

.even {
    background-color: #e4ecf0;
}

thead th {
    white-space: nowrap; /* Chrome */
}

/*region SORTing*/
.sorting:after {
    display: inline-block;
    /*float:right;*/
    content: "\2191 \2193";
    opacity: .9;
    color:#DDDDDD;
    cursor: pointer;
    height:100%;
    width: 1.5em;
}

.sorting.sorting_asc:after
, .sorting.sorting_desc:after
, .sorting.sorting_asc_ii:after
, .sorting.sorting_desc_ii:after {
    opacity: 1;
    color: yellow;
}

.sorting.sorting_asc:after {

    content: "\2191"
}

.sorting.sorting_desc:after {
    content: "\2193"
}

.sorting.sorting_asc_ii:after {

    content: "\2191 \2191"
}

.sorting.sorting_desc_ii:after {
    content: "\2193 \2193"
}

.sorting.sorting_asc_ii {
    content: "\2193 \2193";
}
/*endregion SORTing*/

/*region pager */
.pager button {
    margin-right: 2px;
}

/*endregion pager */

/*region MAT*/
.mat-green {
    background-color: green;
    color: white;
}

.mat-black {
    background-color: black;
    color: white;
}

.mat-black.active {
    background-color: #DDDDDD;
    color: black;
}

.hover-highlighted:hover
, .hover-highlighted:hover:after
, .hover-highlighted:hover:before
{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.fields {
    background-color: skyblue;
    margin-right: 2px;
    margin-bottom: 2px;
    border: #039be5 solid 1px;
    padding:0;
    align-items:stretch;
    display:flex;
}

.fields .mat-icon
,.fields .mat-checkbox{
    height:100%;
}

.fields > span {
    /*border: #000 solid 1px;*/
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content:center;
}
/*endregion MAT*/