thead{
    background-color: #000;
    color: #fff;
}
.odd {
    background-color: #CFD8DC;
}

thead .sorting:after {
    display: block;
    float:right;
    content: "\2191 \2193";
    opacity: .5;
}
thead .sorting.sorting_asc:after
, thead .sorting.sorting_desc:after
, thead .sorting.sorting_asc_ii:after
, thead .sorting.sorting_desc_ii:after
{
    opacity: 1;
}
thead .sorting.sorting_asc:after {

    content: "\2191"
}
thead .sorting.sorting_desc:after {
    content: "\2193"
}
thead .sorting.sorting_asc_ii:after {

    content: "\2191 \2191"
}
thead .sorting.sorting_desc_ii:after {
    content: "\2193 \2193"
}

.sorting_asc_ii {
    content: "\2193 \2193";
}

/*region pager */
.pager button {margin-right: 2px;}
/*endregion pager */

/*region MAT*/
.mat-green {
    background-color: green;
    color: white;
}
/*endregion MAT*/