<ng-template #loading>
	<div><h1>Loading...</h1></div>
</ng-template>

<ng-template #noData>
	<tr>
		<td [attr.colspan]="fNames.length?fNames.length:1"><h1>No results.</h1></td>
	</tr>
</ng-template>

<!--region Pages-->
<ng-template #pager>
	<div class="pager">
		<input
				[(ngModel)]="search.pager.pageSize"
				(keydown.enter)="onChangePager()"
		>&nbsp;
		<button class="btn" (click)="onGoToPager(1)"> <<<</button>
		<button
				*ngFor='let pageN of search.pager.pagesTotalArray'
				class="btn"
				(click)="onGoToPager(pageN)"
				[ngClass]="{
						'btn-info': pageN == search.pager.pageCurrentNumber
						}"
		>
			{{pageN}}
		</button>
		<button class="btn" (click)="onGoToPager(search.pager.pagesTotal)"> >>> </button>
	</div>
</ng-template>
<!--endregion Pages-->


<div>
	<form ngForm #f="ngForm" (ngSubmit)="getModels(f)">

		<div class="form-group">
			<label for="table-name">Table name ({{tableName}})</label>
			<select
					[(ngModel)]="tableName"
					name="tableName"
					id="table-name"
					class="form-control"
					(change)="onChangeTable()"
			>
				<option *ngFor="let m of models" [value]="m">{{m}}</option>
			</select>
		</div>
	</form>
</div>


<div>
	<button type="button" class="btn btn-info"
	        (click)="consoleLog(ownData)"
	>Log ownData
	</button>&nbsp;
	<button type="button" class="btn btn-info" (click)="consoleLog()">Log Component</button>
</div>

<ng-container *ngTemplateOutlet="pager"></ng-container>

<div class="table-responsive" *ngIf="fNames.length > 0; else loading">
	<table class="table dataTable">
		<thead>
		<tr>
			<th>Actions</th>
			<th
					*ngFor='let prop of fNames'
					(click)="sortTable($event, prop)"
					class="sorting"
					[ngClass]="{
						'sorting_asc': search.sort.sortName.indexOf(prop)=== 0 && search.sort.sortAsc[0],
						'sorting_desc': search.sort.sortName.indexOf(prop)=== 0 && !search.sort.sortAsc[0],
						'sorting_asc_ii': search.sort.sortName.indexOf(prop)=== 1 && search.sort.sortAsc[1],
						'sorting_desc_ii': search.sort.sortName.indexOf(prop)=== 1 && !search.sort.sortAsc[1]
						}"
			>
				<span>{{prop}}</span>
			</th>
		</tr>
		<tr>
			<th>
				<button class="btn btn-info" (click)="consoleLog(search)">Log Search</button>
				<button class="btn btn-danger" (click)="clearSearch()">Clear Search</button>
				<button class="btn btn-success" (click)="addModel()">Add</button>
			</th>
			<!--region Search Fields-->
			<th *ngFor='let prop of fNames'>
				<div>
					<input
							[(ngModel)]="search[prop]"
							placeholder="{{prop}}"
							(keyup)="onChangeSearch($event, prop)"
					>
				</div>
			</th>
			<!--endregion Search Fields-->
		</tr>
		</thead>

		<tbody *ngIf="ownData.length > 0; else noData">
		<tr
				*ngFor="let item of ownData; let isEven=even"
				[ngClass]="{'even': isEven, 'odd': !isEven}"
		>
			<td>
				<button class="btn btn-info" (click)="consoleLog(item)">State</button>
				<button class="btn btn-success" (click)="stateEditModeOn(item)">Edit</button>
				<button class="btn btn-warning" (click)="saveModel(item)">Save</button>
				<button class="btn btn-danger">Delete</button>
				<button class="btn" (click)="canceItem(item)">Cancel</button>
			</td>
			<td *ngFor='let prop of fNames'>&nbsp;
				<b>{{prop}}:</b><br>
				<span *ngIf="isType(item[prop], 'string')">{{item[prop]}}</span>
				<div *ngIf="isType(item[prop], 'string') && item.editMode">
					<input type="text" [(ngModel)]="item[prop]">
				</div>
				<ul *ngIf="isType(item[prop], 'array')">
					<li *ngFor='let subItem of item[prop]'>
						<div *ngFor='let p of subItem | pArrayOfKeys'>
							{{p}} : {{subItem[p]}}
						</div>
					</li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<ng-container *ngTemplateOutlet="pager"></ng-container>