<div>&nbsp;</div>
<div>
	<button mat-raised-button color="green" type="button" (click)="consoleLog(ownData)">Log ownData</button>&nbsp;
	<button mat-raised-button color="green" type="button" (click)="consoleLog()">Log Component</button>
</div>
<div>&nbsp;</div>
<div>
	<div>
		<mat-form-field class="example-full-width">
			<input type="text" placeholder="Type in a Current Table" aria-label="Number" matInput
			       [formControl]="myControl"
			       [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
					{{ option }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		&nbsp;currently it is&nbsp;
		<mat-form-field>
			<mat-select placeholder="Select Current Table" [(ngModel)]="tableName" (change)="onChangeTable()">
				<mat-option *ngFor="let m of models" [value]="m">
					{{m}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>
<div>&nbsp;</div>
<ng-container *ngTemplateOutlet="pager"></ng-container>
<div>&nbsp;</div>
<!--region Shown Fields-->
<div class="nav">
	<span *ngFor='let prop of fNames' class="fields rounded">
		<span class="hover-highlighted"><mat-icon aria-label="Move Earlier" (click)="moveEarlier(prop)">◂</mat-icon></span>
		<span>
			<mat-checkbox
					[(ngModel)]="search.oShownFields[prop]"
					(change)="onChangeShownField()"
			>{{prop}}</mat-checkbox>
		</span>

		<span
				(click)="sortTable($event, prop)"
				class="sorting hover-highlighted"
				[ngClass]="{
					'sorting_asc': search.sort.sortName.indexOf(prop)=== 0 && search.sort.sortAsc[0],
					'sorting_desc': search.sort.sortName.indexOf(prop)=== 0 && !search.sort.sortAsc[0],
					'sorting_asc_ii': search.sort.sortName.indexOf(prop)=== 1 && search.sort.sortAsc[1],
					'sorting_desc_ii': search.sort.sortName.indexOf(prop)=== 1 && !search.sort.sortAsc[1]
					}"
		>&nbsp;</span>

		<span class="hover-highlighted"><mat-icon aria-label="Move Later" (click)="moveLater(prop)">▸</mat-icon></span>
	</span>
</div>
<div>&nbsp;</div>
<!--endregion Shown Fields-->

<div class="table-responsive" *ngIf="fNames.length > 0; else loading">
	<table class="table dataTable">
		<thead>
		<tr>
			<th>Actions</th>
			<th
					*ngFor='let prop of fNames'
					[ngClass]="{
						'excludedItem': search.oShownFields[prop]===false
						}"
			>

				<mat-checkbox
						class="example-margin"
						[(ngModel)]="search.oShownFields[prop]"
						(change)="onChangeShownField()"
				>{{prop}}
				</mat-checkbox>
				<span
						(click)="sortTable($event, prop)"
						class="sorting"
						[ngClass]="{
						'sorting_asc': search.sort.sortName.indexOf(prop)=== 0 && search.sort.sortAsc[0],
						'sorting_desc': search.sort.sortName.indexOf(prop)=== 0 && !search.sort.sortAsc[0],
						'sorting_asc_ii': search.sort.sortName.indexOf(prop)=== 1 && search.sort.sortAsc[1],
						'sorting_desc_ii': search.sort.sortName.indexOf(prop)=== 1 && !search.sort.sortAsc[1]
						}"
				>&nbsp;</span>

			</th>
		</tr>
		<tr>
			<th>
				<button class="btn btn-info" (click)="consoleLog(search)">Log Search</button>
				<button class="btn btn-danger" (click)="clearSearch()">Clear Search</button>
				<button class="btn btn-success" (click)="addModel()">Add</button>
			</th>
			<!--region Search Fields-->
			<th *ngFor='let prop of fNames'
			    [ngClass]="{
					'excludedItem': search.oShownFields[prop]===false
				}"
			>
				<div *ngIf="search.oShownFields[prop]">
					<input
							[(ngModel)]="search[prop]"
							placeholder="{{prop}}"
							(keyup)="onChangeSearch($event, prop)"
					>
				</div>
			</th>
			<!--endregion Search Fields-->
		</tr>
		</thead>

		<tbody *ngIf="ownData.length > 0; else noData">
		<tr
				*ngFor="let item of ownData; let isEven=even"
				[ngClass]="{'even': isEven, 'odd': !isEven}"
		>
			<td>
				<button class="btn btn-info" (click)="consoleLog(item)">State</button>
				<button class="btn btn-success" (click)="stateEditModeOn(item)">Edit</button>
				<button class="btn btn-warning" (click)="saveModel(item)">Save</button>
				<button class="btn btn-danger">Delete</button>
				<button class="btn" (click)="cancelItem(item)">Cancel</button>
			</td>
			<td *ngFor='let prop of fNames'
			    [ngClass]="{
						'excludedItem': search.oShownFields[prop]===false
						}"
			>&nbsp;
				<div *ngIf="search.oShownFields[prop]">
					<b>{{prop}}:</b><br>
					<span *ngIf="isType(item[prop], 'string')">{{item[prop]}}</span>
					<div *ngIf="isType(item[prop], 'string') && item.editMode">
						<input type="text" [(ngModel)]="item[prop]">
					</div>
					<ul *ngIf="isType(item[prop], 'array')">
						<li *ngFor='let subItem of item[prop]'>
							<div *ngFor='let p of subItem | pArrayOfKeys'>
								{{p}} : {{subItem[p]}}
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<ng-container *ngTemplateOutlet="pager"></ng-container>
</div>

<!--region ng-template-->
<ng-template #loading>
	<div><h1>Loading...</h1></div>
</ng-template>

<ng-template #noData>
	<tr>
		<td [attr.colspan]="fNames.length?fNames.length:1"><h1>No results.</h1></td>
	</tr>
</ng-template>

<!--region Pages-->
<ng-template #pager>
	<div class="pager">


		<button mat-mini-fab color="black" (click)="onGoToPager(1)"> <<<</button>
		<button
				mat-mini-fab color="black"
				*ngFor='let pageN of search.pager.pagesTotalArray'
				(click)="onGoToPager(pageN)"
				[ngClass]="{
						'active': pageN == search.pager.pageCurrentNumber
						}"
		>
			{{pageN}}
		</button>
		<button mat-mini-fab color="black" (click)="onGoToPager(search.pager.pagesTotal)"> >>></button>
		&nbsp;
		<mat-form-field>
			<mat-select placeholder="Page Size" [(ngModel)]="search.pager.pageSize" (change)="onChangePager()">
				<mat-option value="2">2</mat-option>
				<mat-option value="3">3</mat-option>
				<mat-option value="5">5</mat-option>
				<mat-option value="10">10</mat-option>
				<mat-option value="15">15</mat-option>
				<mat-option value="20">20</mat-option>
				<mat-option value="25">25</mat-option>
				<mat-option value="50">50</mat-option>
				<mat-option value="100">100</mat-option>
				<mat-option value="1000000">All</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</ng-template>
<!--endregion Pages-->
<!--endregion ng-template-->