<div>
	<form ngForm #f="ngForm" (ngSubmit)="getModels(f)">

		<div class="form-group">
			<label for="model-name">Table name ({{modelName}})</label>
			<select
					[(ngModel)]="modelName"
					name="model"
					id="model-name"
					class="form-control"
					(change)="getModels()"
			>
				<option *ngFor="let m of models" [value]="m">{{m}}</option>
			</select>
		</div>

		<button type="button" class="btn btn-info"
		        (click)="logAllCurrentModels(f)"
		>Console Log all Current models
		</button>&nbsp;

		<button type="submit" class="btn btn-info">Show me!</button>

	</form>
</div>

<ng-template #loading>
	<div>Loading...</div>
</ng-template>

<div style="overflow-x: scroll" *ngIf="ownData.length > 0 else loading">
	<table class="table">
		<thead>
		<tr style="color:white;background-color: black">
			<td>Actions</td>
			<td *ngFor='let prop of ownData[0] | values'>
				{{prop}}
			</td>
		</tr>
		<tr style="color:white;background-color: black">
			<td>
				<button class="btn btn-info" (click)="logSearch()">Log Search</button>
				<button class="btn btn-danger" (click)="clearSearch()">Clear Search</button>
			</td>
			<td *ngFor='let prop of ownData[0] | values'>
				<div>
					<input [(ngModel)] = "search[prop]" placeholder="{{prop}}">
				</div>
			</td>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let item of ownData; let isEven=even" [style.background-color]="isEven ? '#ebebeb' : '#fff'">
			<td>
				<button class="btn btn-info" (click)="logModelState(item)">State</button>
				<button class="btn btn-success" (click)="stateEditModeOn(item)">Edit</button>
				<button class="btn btn-warning" (click)="saveModel(item)">Save</button>
				<button class="btn btn-danger">Delete</button>
				<button class="btn" (click)="cancalItem(item)">Cancel</button>
			</td>
			<td *ngFor='let prop of item | values'>
				<span *ngIf="isType(item[prop], 'string')">{{item[prop]}}</span>
				<div *ngIf="isType(item[prop], 'string') && item.editMode">
					<input type="text" [(ngModel)]="item[prop]">
				</div>
				<ul *ngIf="isType(item[prop], 'array')">
					<li *ngFor='let subItem of item[prop]'>
						<div *ngFor='let p of subItem | values'>
							{{p}} : {{subItem[p]}}
						</div>
					</li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</div>