<div class="alina-centered-div">
	<!-- region Heroes -->
	<div>
		<h1>{{title}}</h1>
		<nav>
			<a routerLinkActive="active current" routerLink="/list">List</a>
			<a routerLinkActive="active current" routerLink="/dashboard">Dashboard</a>
			<a routerLinkActive="active current" routerLink="/heroes">Heroes</a>
		</nav>
		<router-outlet></router-outlet>
	</div>

	<app-messages></app-messages>
	<!-- endregion Heroes -->
</div>

<div class="alina-centered-div">
	<br>
	<app-alina-text-edit></app-alina-text-edit>
	<br>
</div>
<div class="alina-centered-div">
	<br>
	<app-ratatata></app-ratatata>
	<br>
</div>
