<!--<h1>app-alina-form-build</h1>-->
<!--<app-alina-form-build></app-alina-form-build>-->

<!--<hr>-->
<!--<hr>-->
<!--<hr>-->
<!--<hr>-->

<!--<h1>signup-form</h1>-->
<!--<signup-form></signup-form>-->

<!--<hr>-->
<!--<hr>-->
<!--<hr>-->
<!--<hr>-->

<div class="alina-стеукув-div">
	<h1>app-alina-rest-call</h1>
	<app-alina-rest-call></app-alina-rest-call>
</div>

<!--

<h1>{{title}}</h1>
<nav>
	<a routerLinkActive="active current" routerLink="/dashboard">Dashboard</a>
	<a routerLinkActive="active current" routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
-->
