/* Master Styles */

/*region Bootstrap*/
@import "~bootstrap/dist/css/bootstrap.css";
/*endregion Bootstrap*/

/*region Angular Material*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*endregion Angular Material*/

/*region PrimeNG*/
@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
/*//*/
@import  "~quill/dist/quill.core.css";
@import  "~quill/dist/quill.snow.css";
/*endregion PrimeNG*/

/*region Bootstrap Framework definitions. */
/**
Initially taken from:
@link: https://getbootstrap.com/docs/3.3/examples/theme/#about
*/
body {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body #div-body {
    display: block;
    position: fixed;
    left:0;
    top:0;
    padding: 0;
    margin: 0;
    overflow: scroll;
    height: 100%;
    width: 100%;
    border: #ffca3c solid 2px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
/*endregion Bootstrap Framework definitions. */

/**region Table with Fixed Header*/
/** ToDo ;-) */
/**endregion Table with Fixed Header*/

/*region MAT*/
.mat-checkbox-inner-container {
    background-color: rgba(255,255,255,1);
}
mat-icon {
    cursor: pointer;
}
/*endregion MAT*/

/*region Fixes*/

/*MAT Fix...*/
label {
    margin: 0;
}

/*endregion Fixes*/

/*region Alina Styles*/
pre {
    margin: 0;
    word-break: break-all; /* webkit */
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap; /* fennec */
    white-space: pre-wrap;
    white-space: pre \9; /* IE7+ */
}

.excludedItem{
    display: none !important;
}

.hover-highlighted:hover
, .hover-highlighted:hover:after
, .hover-highlighted:hover:before
{
    background-color: yellow;
    color: black;
    cursor: pointer;
}

/*region Alina PopUp*/
.popupContainerFixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}

.popupItems {
    display: block;
    margin: 0 auto 5px auto;
    padding: 25px;
    max-width: 1100px;

    overflow-y:scroll;
}
/*endregion Alina PopUp*/
/*endregion Alina Styles*/