<div class="popup-background-fixed" (click)="onCancel($event)">
</div>

<div class="popup-one-item" (click)="stopEventBubbling($event)">
	<div class="buttons">
		<button class="btn btn-warning" (click)="onSave($event)">Save</button>
		<button class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
	</div>

	<p-editor [(ngModel)]="passedItem[passedProp]" [style]="{'height':'320px', 'width':'1000px'}"></p-editor>

	<br>
	<hr>
	<h1>Result:</h1>
	<div class="ql-editor result" [innerHTML]="passedItem[passedProp] | htmlReal"></div>

	<div class="buttons">
		<button class="btn btn-warning" (click)="onSave($event)">Save</button>
		<button class="btn btn-danger" (click)="onCancel($event)">Cancel</button>
	</div>
</div>


