<div class="clearfix"></div>
<div>
	<button  class="btn btn-info" (click)="consoleLog(ownData)">Log ownData</button>&nbsp;
	<button  class="btn btn-info" (click)="consoleLog()">Log Component</button>
</div>
<div class="clearfix"></div>
<div>
	<label>Table:&nbsp;<p-dropdown
			[(ngModel)]="tableName"
			[options]="modelsObjs"
			placeholder="..."
			[showClear]="false"
			[filter]="true"
			(onChange)="onChangeTable()"
	>
		<ng-template let-itm pTemplate="selectedItem">
			<span>{{itm.label}}</span>
		</ng-template>
		<ng-template let-itm pTemplate="item">
			<div>{{itm.label}}</div>
		</ng-template>
	</p-dropdown></label>
</div>
<div class="clearfix"></div>
<ng-container *ngTemplateOutlet="pager"></ng-container>
<div class="clearfix"></div>
<!--region Shown Fields-->
<div class="nav">
	<span *ngFor='let prop of fNames' class="shown-fields-menu rounded">
		<span class="hover-highlighted"><span (click)="moveEarlier(prop)">&nbsp;◂&nbsp;</span></span>
		<span class="hover-highlighted">
      <p-checkbox [(ngModel)]="states.oShownFields[prop]" binary="true" label="{{prop}}" onchange="onChangeShownField()"></p-checkbox>
		</span>

		<span
				(click)="sortTable($event, prop)"
				class="sorting hover-highlighted"
				[ngClass]="{
					'sorting_asc': states.sort.sortName.indexOf(prop)=== 0 && states.sort.sortAsc[0],
					'sorting_desc': states.sort.sortName.indexOf(prop)=== 0 && !states.sort.sortAsc[0],
					'sorting_asc_ii': states.sort.sortName.indexOf(prop)=== 1 && states.sort.sortAsc[1],
					'sorting_desc_ii': states.sort.sortName.indexOf(prop)=== 1 && !states.sort.sortAsc[1]
					}"
		></span>

		<span class="hover-highlighted"><span (click)="moveLater(prop)">&nbsp;▸&nbsp;</span></span>
	</span>
</div>
<div class="clearfix"></div>
<!--endregion Shown Fields-->

<div class="table-responsive" *ngIf="fNames.length > 0; else loading">
	<table class="table dataTable">
		<thead>
		<tr>
			<th>Actions</th>
			<th
					*ngFor='let prop of fNames'
					[ngClass]="{
						'excludedItem': states.oShownFields[prop]===false
						}"
			>
        <p-checkbox [(ngModel)]="states.oShownFields[prop]" binary="true" label="{{prop}}" onchange="onChangeShownField()"></p-checkbox>
				<span
						(click)="sortTable($event, prop)"
						class="sorting hover-highlighted"
						[ngClass]="{
						'sorting_asc': states.sort.sortName.indexOf(prop)=== 0 && states.sort.sortAsc[0],
						'sorting_desc': states.sort.sortName.indexOf(prop)=== 0 && !states.sort.sortAsc[0],
						'sorting_asc_ii': states.sort.sortName.indexOf(prop)=== 1 && states.sort.sortAsc[1],
						'sorting_desc_ii': states.sort.sortName.indexOf(prop)=== 1 && !states.sort.sortAsc[1]
						}"
				></span>

			</th>
		</tr>
		<tr>
			<th>
				<button class="btn btn-info" (click)="consoleLog(states)">Log Search</button>
				<button class="btn btn-danger" (click)="clearSearch()">Clear Search</button>
				<button class="btn btn-success" (click)="addModel()">Add</button>
			</th>
			<!--region Search Fields-->
			<th *ngFor='let prop of fNames'
			    [ngClass]="{
					'excludedItem': states.oShownFields[prop]===false
				}"
			>
				<div *ngIf="states.oShownFields[prop]">
					<input
							[(ngModel)]="states.searchParams[prop]"
							placeholder="{{prop}}"
							(keyup)="onChangeSearch($event, prop)"
					>
				</div>
			</th>
			<!--endregion Search Fields-->
		</tr>
		</thead>

		<tbody *ngIf="ownData.length > 0; else noData">
		<tr
				*ngFor="let item of ownData; let isEven=even"
				[ngClass]="{'even': isEven, 'odd': !isEven}"
		>
			<td>
				<button class="btn btn-info" (click)="consoleLog(item)">State</button>
				<button class="btn btn-success" (click)="stateEditModeOn(item)">Edit</button>
				<button class="btn btn-warning" (click)="saveModel(item)">Save</button>
				<button class="btn btn-danger">Delete</button>
				<button class="btn" (click)="cancelItem(item)">Cancel</button>
			</td>
			<td *ngFor='let prop of fNames'
			    [ngClass]="{
						'excludedItem': states.oShownFields[prop]===false
						}"
			>
        <div class="cell-header"><b>{{prop}}:</b></div>
        <div class="clearfix"></div>
				<div *ngIf="states.oShownFields[prop]">
					<div *ngIf="isType(item[prop], 'string') && item.editMode">
						<input type="text" [(ngModel)]="item[prop]">
					</div>
          <div class="clearfix"></div>
					<span class="btn btn-sm btn-info" (click)="editAsHtml($event, item, prop)">HTML</span>
          <div class="clearfix"></div>
					<span *ngIf="isType(item[prop], 'string')">{{item[prop]}}</span>

					<ul *ngIf="isType(item[prop], 'array')">
						<li *ngFor='let subItem of item[prop]'>
							<div *ngFor='let p of subItem | pArrayOfKeys'>
								{{p}} : {{subItem[p]}}
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="clearfix"></div>
<ng-container *ngTemplateOutlet="pager"></ng-container>
<div class="clearfix"></div>


<div class="clearfix"></div>
<app-edit-field-html
		*ngIf="editAsHtmlStateVisible"
		[(stateVisible)]="editAsHtmlStateVisible"
		[passedItem]="editAsHtmlItem"
		[passedProp]="editAsHtmlProp"
		[passedValue]="editAsHtmlValue"
></app-edit-field-html>
<div class="clearfix"></div>



<!--region ng-template-->
<ng-template #loading>
	<div><h1>No data...</h1></div>
</ng-template>

<ng-template #noData>
	<tr>
		<td [attr.colspan]="fNames.length?fNames.length:1"><h1>No results.</h1></td>
	</tr>
</ng-template>

<!--region Pages-->
<ng-template #pager>
	<div class="pager">


    <button pButton type="button" (click)="onGoToPage(1)" label="<<<" class="ui-button-success hover-highlighted"></button>

    <button
        pButton
        type="button"
        class="ui-button-success hover-highlighted"
				*ngFor="let pageN of states.pager.pagesTotalArray"
        label="{{pageN}}"
				(click)="onGoToPage(pageN)"
				[ngClass]="{
						'active': pageN == states.pager.pageCurrentNumber
						}"
		></button>
    <button pButton type="button" (click)="onGoToPage(states.pager.pagesTotal)" label=">>>" class="ui-button-success hover-highlighted"></button>
    &nbsp;
    <p-dropdown
      [(ngModel)]="states.pager.pageSize"
      [options]="[
        {label: '2', value: '2'}
        , {label: '3', value: '3'}
        , {label: '5', value: '5'}
        , {label: '10', value: '10'}
        , {label: '15', value: '15'}
        , {label: '20', value: '20'}
        , {label: '25', value: '25'}
        , {label: '50', value: '50'}
        , {label: '100', value: '100'}
        , {label: '1000', value: '1000'}
      ]"
      placeholder="Page Size"
      [showClear]="false"
      [filter]="false"
      (onChange)="onChangePageSize()"
    >
      <ng-template let-itm pTemplate="selectedItem">
        <span>{{itm.label}}</span>
      </ng-template>
      <ng-template let-itm pTemplate="item">
        <div>{{itm.label}}</div>
      </ng-template>
    </p-dropdown>

	</div>
</ng-template>
<!--endregion Pages-->
<!--endregion ng-template-->
